In [203]:
import pandas as pd
import seaborn as sns

In [204]:
data = pd.read_csv('../Project_5/airbnb_nyc_clean.csv')

In [205]:
pd.set_option('display.max_columns', None)

In [206]:
data.head(2)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,142.0,28.0,13.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...

In [207]:
data['host_identity_verified'].value_counts()

unconfirmed    34779
verified       34526
Name: host_identity_verified, dtype: int64

In [208]:
data['host_identity_verified'] = data['host_identity_verified'].replace('unconfirmed', 0)

In [209]:
data['host_identity_verified'] = data['host_identity_verified'].replace('verified', 1)

In [210]:
data['neighbourhood_group'].value_counts()

Manhattan        29587
Brooklyn         27895
Queens            9262
Bronx             1912
Staten Island      649
Name: neighbourhood_group, dtype: int64

In [211]:
neighbourhood_group = pd.get_dummies(data['neighbourhood_group'])
neighbourhood_group.head()

   Bronx  Brooklyn  Manhattan  Queens  Staten Island
0      0         1          0       0              0
1      0         0          1       0              0
2      0         0          1       0              0
3      0         1          0       0              0
4      0         0          1       0              0

In [212]:
data['room_type'].value_counts()

Entire home/apt    37212
Private room       30508
Shared room         1470
Hotel room           115
Name: room_type, dtype: int64

In [213]:
room_type = pd.get_dummies(data['room_type'])
room_type.head()

   Entire home/apt  Hotel room  Private room  Shared room
0                0           0             1            0
1                1           0             0            0
2                0           0             1            0
3                1           0             0            0
4                1           0             0            0

In [214]:
data['cancellation_policy'].value_counts()

moderate    23244
flexible    23126
strict      22935
Name: cancellation_policy, dtype: int64

In [215]:
cancellation_policy = pd.get_dummies(data['cancellation_policy'])
cancellation_policy.head()

   flexible  moderate  strict
0         0         0       1
1         0         1       0
2         1         0       0
3         0         1       0
4         0         1       0

In [216]:
data['instant_bookable'].value_counts()

False    34867
True     34438
Name: instant_bookable, dtype: int64

In [217]:
data['instant_bookable'] = data['instant_bookable'].replace('True', 0)

In [218]:
data['instant_bookable'] = data['instant_bookable'].replace('False', 1)

In [219]:
data

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,966.00000,193.000000,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,1,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,142.00000,28.000000,13.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,0,Elise,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,620.00000,124.000000,3.0,0.0,2019-06-14,0.79,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,blank,85098326012,0,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,368.00000,74.000000,13.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,blank
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,1,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,204.00000,41.000000,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69300,57361342,Sunny budget friendly room in Bushwick,29964876857,1,blank,Brooklyn,Bushwick,40.69370,-73.91006,True,flexible,Private room,2016.0,624.73607,124.894026,5.0,3.0,2018-04-09,0.11,1.0,1.0,0.0,Please be mindful that I live in the same buil...
69301,57361894,"Cozy Apartment on Bedford Ave, Brooklyn",92852058426,0,blank,Brooklyn,Williamsburg,40.71284,-73.96284,False,moderate,Private room,2005.0,624.73607,124.894026,7.0,15.0,2018-01-01,0.55,4.0,1.0,0.0,blank
69302,57362446,Your 1 bedroom home away from home!,95572379802,1,blank,Manhattan,Upper West Side,40.79563,-73.97634,True,flexible,Entire home/apt,2010.0,624.73607,124.894026,3.0,38.0,2019-06-10,1.40,3.0,1.0,31.0,blank
69303,57362999,MASTER Cozy Bedroom Queen size 2 blocks Timesq...,80154173698,1,blank,Manhattan,Hell's Kitchen,40.76125,-73.98945,True,strict,Entire home/apt,2020.0,624.73607,124.894026,1.0,81.0,2019-03-05,2.96,2.0,2.0,0.0,- I work at home and prefer to rent to folks w...
69304,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,0,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,False,moderate,Entire home/apt,2016.0,624.73607,124.894026,2.0,104.0,2019-06-12,3.69,5.0,1.0,268.0,blank

In [220]:
data.shape

(69305, 23)

In [221]:
data.isnull().sum()

id                                0
name                              0
host_id                           0
host_identity_verified            0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
lat                               0
long                              0
instant_bookable                  0
cancellation_policy               0
room_type                         0
construction_year                 0
price                             0
service_fee                       0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
review_rate_number                0
calculated_host_listings_count    0
availability_365                  0
house_rules                       0
dtype: int64

In [222]:
data = data.dropna()

In [223]:
data.shape

(69305, 23)

In [224]:
data.describe()

,id,host_id,host_identity_verified,lat,long,construction_year,price,service_fee,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
count,6.930500e+04,6.930500e+04,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000,69305.000000
mean,2.015746e+07,4.929192e+10,0.498175,40.728070,-73.949036,2012.489503,624.736070,124.894026,4.620330,28.003896,1.301503,3.321636,8.976755,153.184287
std,1.109105e+07,2.854010e+10,0.500000,0.055973,0.050470,5.756144,331.158937,66.222794,4.356887,52.035180,1.659188,1.255746,34.808447,134.421373
min,1.001254e+06,1.303496e+08,0.000000,40.499790,-74.249840,2003.000000,50.000000,10.000000,0.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.057049e+07,2.459948e+10,0.000000,40.688540,-73.982790,2008.000000,339.000000,68.000000,2.000000,1.000000,0.300000,2.000000,1.000000,18.000000
50%,2.013964e+07,4.915407e+10,0.000000,40.722650,-73.954390,2012.000000,624.736070,124.894026,3.000000,7.000000,0.790000,3.000000,1.000000,127.000000
75%,2.970878e+07,7.406137e+10,1.000000,40.762730,-73.931380,2017.000000,911.000000,182.000000,6.000000,30.000000,1.730000,4.000000,3.000000,281.000000
max,5.736355e+07,9.876313e+10,1.000000,40.916970,-73.705220,2022.000000,1200.000000,240.000000,13.000000,1024.000000,90.000000,5.000000,332.000000,426.000000

In [225]:
data.head(1)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...

In [226]:
data = data.drop(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'cancellation_policy', 'room_type', 'last_review', 'house_rules'], axis=1)

In [227]:
correlation = data.corr()

In [228]:
correlation['review_rate_number'].sort_values(ascending=False)

review_rate_number                1.000000
reviews_per_month                 0.034664
calculated_host_listings_count    0.023114
minimum_nights                    0.016415
construction_year                 0.006313
host_identity_verified            0.002877
instant_bookable                  0.000908
service_fee                      -0.001289
price                            -0.001506
number_of_reviews                -0.013252
availability_365                 -0.014734
Name: review_rate_number, dtype: float64

In [229]:
data = pd.concat([data, neighbourhood_group, cancellation_policy, room_type], axis = 1)

In [230]:
from sklearn.model_selection import train_test_split
X = data.drop(['review_rate_number'], axis=1)
y = data['review_rate_number']

In [231]:
#from sklearn.model_selection import train_test_split
#X = data[['reviews_per_month', 'calculated_host_listings_count', 'minimum_nights', 'construction_year']]
#y = data['review_rate_number']

In [232]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [233]:
from sklearn.pipeline import Pipeline

In [234]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LogisticRegression

In [235]:
linear_pipe = Pipeline([
    ('ss', StandardScaler()),
    ('lr', LinearRegression())
])

linear_pipe.fit(X_train, y_train)
linear_pipe.score(X_train, y_train), linear_pipe.score(X_test, y_test)

(0.004739920128725816, 0.004015740475005525)

In [236]:
linear_pipe = Pipeline([
    ('ss', StandardScaler()),
    ('lr', LinearRegression())
])

linear_pipe.fit(X_train, y_train)
linear_pipe.score(X_train, y_train), linear_pipe.score(X_test, y_test)

(0.004739920128725816, 0.004015740475005525)

In [237]:
pipe_knn = Pipeline([
    ('ss', StandardScaler()),
    ('knn', KNeighborsRegressor())
])

pipe_knn.fit(X_train, y_train)
pipe_knn.score(X_train, y_train), pipe_knn.score(X_test, y_test)

(0.2078118233853259, -0.18804295955740602)

In [238]:
pipe_lo = Pipeline([
    ('ss', StandardScaler()),
    ('lo', LogisticRegression())
])

pipe_lo.fit(X_train, y_train)
pipe_lo.score(X_train, y_train), pipe_lo.score(X_test, y_test)

(0.239120397091077, 0.23096900790673516)

In [239]:
from sklearn.ensemble import AdaBoostClassifier

pipe_ada_boost = Pipeline([
    ('ss', StandardScaler()),
    ('ada', AdaBoostClassifier())
])

pipe_ada_boost.fit(X_train, y_train)
pipe_ada_boost.score(X_train, y_train), pipe_ada_boost.score(X_test, y_test)

(0.2355419600600254, 0.22900675246724764)

In [240]:
from sklearn.tree import DecisionTreeClassifier

pipe_decision = Pipeline([
    ('ss', StandardScaler()),
    ('dt', DecisionTreeClassifier())
])

pipe_decision.fit(X_train, y_train)
pipe_decision.score(X_train, y_train), pipe_decision.score(X_test, y_test)

(1.0, 0.2283141917238991)

In [260]:
from sklearn.tree import DecisionTreeRegressor

pipe_decision = Pipeline([
    ('ss', StandardScaler()),
    ('dt', DecisionTreeRegressor(random_state=42))
])

pipe_decision.fit(X_train, y_train)
pipe_decision.score(X_train, y_train), pipe_decision.score(X_test, y_test)

(1.0, -1.019274552404525)

In [261]:
#do logistic regression
#data.loc[data["review_rate_number"] >= "3", "review_rate"] = 1

In [262]:
data.review_rate_number

0        4.0
1        4.0
2        5.0
3        4.0
4        3.0
        ...
69300    1.0
69301    4.0
69302    3.0
69303    2.0
69304    5.0
Name: review_rate_number, Length: 69305, dtype: float64

In [263]:
data['rate_target'] = [1 if each >= 3 else 0 for each in data.review_rate_number]

In [264]:
from sklearn.model_selection import train_test_split
X = data.drop(['rate_target'], axis=1)
y = data['rate_target']

In [267]:
from sklearn.tree import DecisionTreeClassifier

pipe_decision = Pipeline([
    ('ss', StandardScaler()),
    ('dt', DecisionTreeClassifier(random_state=42))
])

pipe_decision.fit(X_train, y_train)
pipe_decision.score(X_train, y_train), pipe_decision.score(X_test, y_test)

(1.0, 0.2283141917238991)

In [266]:
from sklearn.tree import DecisionTreeRegressor

pipe_decision = Pipeline([
    ('ss', StandardScaler()),
    ('dt', DecisionTreeRegressor())
])

pipe_decision.fit(X_train, y_train)
pipe_decision.score(X_train, y_train), pipe_decision.score(X_test, y_test)

(1.0, -1.0348932098004275)